<html>
<head>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}bootstrap/css/bootstrap.css">
<script src="{{MEDIA_URL}}bootstrap/js/bootstrap.js"></script>
<script src="{{MEDIA_URL}}bootstrap/js/bootstrap.min.js"></script>


<link href="{{MEDIA_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">   
</head>

<body>
<h1 class="text-center"> Todo Maker </h1><br>
         
         <ul class="nav nav-pills">
               <li class="active"><a href="/create"> Create Todo </a></li>
               <li><a href="/">View Todo</a></li>
        </ul>
         <br>
<h3> Todo List </h3>

{% for id,title in data.items %}
<div class="row">
	<div class="span5">
      <h4><a href="#">{{title}}</a></h4>
      <p>Overview of the course, prerequisites, instructor contact information, syllabus, location information</p>
	
        </div><br>
  	
</div>
<textarea id="message" name="message" class="span5" placeholder="Your Description" rows="2"></textarea>
{% endfor %}  
</body>
</html>